/* Write your CSS here */
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.textcontent {
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  padding: 10px;
}
.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletebutton {
  height: 38px;
  width: 85px;
  border-radius: 9px;
  border-style: solid;
  border-color: #ff0b37;
  text-align: center;
}

.editbutton {
  height: 38px;
  width: 80px;
  border-radius: 9px;
  border-style: solid;
  border-color: blue;
  text-align: center;
  margin-right: 5px;
}
.todo-inputs {
  height: 40px;
  width: 456px;
  background-color: #ffffff;
  text-align: center;
  margin-right: 15px;
  font-size: 20px;
}
